credencial.json
resultado.txt
data/archivos/*
data/archivosDescomprimidos/*
!data/archivos/.gitkeep
!data/archivosDescomprimidos/.gitkeep
out/*
.venv/*
__pycache__/*
Credentials.txt
app.build/*
app.dist/*
app.exe
src/__pycache__/*
Facturador.exe